body {
    background-color:turquoise;
}

.card-body {
    background-color:mintcream;
}

.card-forecast {
    background-color:mintcream;
}

.input-group {
    padding: 10px;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}